@font-face {
    font-family: "Montserrat-Bold";
    src: url('./Montserrat-Bold.otf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat-Medium";
    src: url('./Montserrat-Medium.otf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat-Regular";
    src: url('./Montserrat-Regular.otf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Alibaba-PuHuiTi-Regular";
    src: url('./AlibabaPuHuiTi-3-55-Regular.woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Alibaba-PuHuiTi-Bold";
    src: url('./AlibabaPuHuiTi-3-85-Bold.woff2');
    font-weight: 700;
    font-style: normal;
}